html, body{
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.box{
  /* display: inline-block; */
  width: 30px;
  height: 30px;
  border: 1px solid;
  margin: 2px;
  cursor: pointer;
  transition: transform 1s;
}

.box.large{
  transform: scale(50);
}
.modal{
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
}

.modal.show{
  display: block;
}